{% extends 'base.html' %}

{% block title %} 
<title>Home</title>
{% endblock %} 

{% block body %}
<br>
<h1>Home</h1>
<br>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h2>Welcome!</h1>
            <p>Welcome to Flask Blog Spot. This is for random blogs and it is written in python using Flask.</p>
            <p>
                <a class="btn btn-outline-info" href="/posts" role="button">All Posts</a>
            </p>
        </div>
    </div>
</main>
{% endblock %} 