{% extends 'base.html' %}

{% block title %} 
<title>Edit</title>
{% endblock %} 


{% block body %}
<br>
<h1>Edit Blog Post</h1>

<hr>
<h2>Edit:</h2>
<br>
<form action="/posts/edit/{{ post.id }}" method="POST">
    <label for="title">Title:</label>
    <input class="form-control me-2" type="search" placeholder="Edit Title" aria-label="Enter Title..." name="title" id="title" value="{{ post.title }}">
    <br>
    <label for="content">Post:</label>
    <textarea class="form-control" name="content" id="content" rows="3" placeholder="Edit Content for the Post">{{ post.content }}</textarea>
    <br>
    <label for="author">Author:</label>
    <input class="form-control me-2" type="search" placeholder="Enter Author" aria-label="Edit Title...", name="author", id="author" value="{{ post.author }}">
    <br>
    <input class="btn btn-outline-success" type="submit" value="Save">
</form>
<hr>
{% endblock %} 